/* Hide actions in the sidebar */
.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none;
}

/* Style for selected list items */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    color: #bc9abc !important;
    opacity: 1 !important;
    font-family: 'JetBrainsMono NF' !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

/* Style for list and tree items */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
    font-family: 'JetBrainsMono NF', monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #FFF !important;
}

/* Composite title styles */
.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}

.composite.title h2 {
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #5f5f5f !important;
}

/* Slider styles */
.slider {
    position: absolute !important;
    right: 1px !important;
    width: 10px !important;
    left: auto !important;
}

/* Project title's style */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

/* Hover styles */
.monaco-editor-hover,
.monaco-hover {
    background-image: #212121 !important;
    border: 1px solid #383838 !important;
}

/* Quick input widget styles */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    padding: 10px 10px 18px 10px !important;
    background-image: #212121 !important;
    border: 1px solid #383838 !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    padding: 8px !important;
    border: none !important;
    background-color: #383838 !important;
    font-family: "JetBrainsMono NF" !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
}

/* Editor group watermark */
.editor-group-watermark {
    max-width: none !important;
}

/* Command center width */
.command-center-center {
    width: auto !important;
}

/* Background for the letterpress class */
.letterpress {
    background-image: url("https://w.wallhaven.cc/full/76/wallhaven-76jz3o.jpg") !important;
    background-size: cover !important;
}